.footer {
	padding: 45px 0px;
	background-color: #1c242a;
	@media (max-width: $md3+px){
		padding: 30px 0px;
	}
	&__container {
		display: flex;
		@media (max-width: $md3+px){
			display: block;
			text-align: center;
		}
	}
	&__column {
		&:first-child {
			flex: 0 0 180px;
		}
		&_full {
			flex: 1 1 auto;
		}
		&:last-child {
			text-align: right;
			@media (max-width: $md3+px){
				text-align: center;
				margin: 20px 0px 0px 0px;
			}
		}
	}
	&__logo {
		display: inline-block;
		margin: 0px 0px 25px 0px;
		@media (max-width: $md3+px){
			margin: 0px 0px 20px 0px;
		}
	}
	&__info {
		color: #bb9c66;
		display: inline-flex;
		@media (max-width: $md3+px){
			display: block;
			margin: 20px 0px 0px 0px;
		}
	}
	&__menu {
		margin: 0px 20px;
	}
	&__list {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		li{
			margin: 15px 15px 0px 0px;
			@media (max-width: $md3+px){
				margin: 9px 7px 0px 0px;
			}
		}
	}
	&__link {
		color: #fff;
		font-family: "PDFin";
		font-weight: 500;
		text-transform: uppercase;
		font-size: 14px;
		letter-spacing: 1.4px;
		@media (min-width: 992px){
			&:hover {
				text-decoration: underline;
			}
		}
	}
	&__phone {
		white-space: nowrap;
		display: flex;
		align-items: flex-start;
		color: #bb9c66;
		font-family: "BravoRGRegular";
		font-size: 50px;
		text-transform: uppercase;
		small {
			font-size: 25px;
			margin: 2px 5px 0px 0px;
		}
		@media (max-width: $md3+px){
			display: block;
			margin: 0px 0px 10px 0px;
			font-size: 40px;
		}
	}
	&__callback {
		background: url("../img/footer.png") left no-repeat;
		color: #bb9c66;
		padding: 0px 0px 0px 20px;
		span{
			border-bottom: 1px dashed;
		}
	}
}




